@media only screen and (max-width: 768px){
/* For mobile phones: */

body{
    
    background: size 75px;;

}
.backgroundblock{
    display: block;
    margin-top: -100px;
}
.left {
    float:left;
    background-color: rgb(66, 61, 223) ;
    width: 400px;
    height: 470px;
    border-radius: 6px;
    border: solid 2px;
    
    
    

}
.right {
    float: left;
    background-color:rgb(230, 87, 87);
    height: 470px;
    width: 400px;
    border-radius: 3px;
    border: solid 2px;
   
}
span{
    margin-left: 20px;
    text-align: left;
    font-size: large;
}
.s1{

}
.s2{

}
h2{
    text-align: center;
}
.mypic {
    margin-left: 70px;
    margin-top: 50px;
    height: 320px;
    
}
.iconcontroller{
    position: absolute;
    top: 470px;
    left: 30px;
    
}
.rpacman{
    position: relative;
    top: 70px;
    left: -200px;
    z-index: -1;
}
.opacman{
    position: relative;
    top: 900px;
    left: 330px;
    z-index: -1;
}
.vdo{
    margin-left: 75px;
}
.header {
    display: inline-block;
    align-items: center;
    background-color: black;
    height: 80spx;
    width: 150px;
  
}
.bar {
    color: azure;
    transition: all 0.3 ease 0s;
    padding: 3px;

    

}
.bar:hover {
    color: rgb(111, 111, 224);
}
.content {

    margin-top: 75px;
    margin-right: 50px;
}
.topbar {
    margin: 0;
    padding: 0;
}
}
@media only screen and (min-width: 600px){
    /* For tablets: */
    body{
       
        background: size 75px;;
    
    }
    .backgroundblock{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
    }
    .left {
        float:left;
        background-color: rgb(66, 61, 223) ;
        width: 300px;
        height: 470px;
        border-radius: 6px;
        border: solid 2px;
        
        
        
    
    }
    .right {
        float: right;
        background-color:rgb(230, 87, 87);
        height: 470px;
        width: 300px;
        border-radius: 3px;
        border: solid 2px;
       
    }
    span{
        margin-left: 20px;
        text-align: left;
        font-size: large;
    }
    .s1{
    
    }
    .s2{
    
    }
    h2{
        text-align: center;
    }
    .mypic {
        margin-left: 25px;
        margin-top: 50px;
      
        
    }
    .iconcontroller{
        position: relative;
        top: 250px;
        left: 130px;
        
    }
    .rpacman{
        position: relative;
        top: -90px;
        left: 300px;
        z-index: -1;
    }
    .opacman{
        position: relative;
        top: 250px;
        left: 1050px;
        z-index: -1;
    }
    .vdo{
        margin-left: 20px;
        width: 250px;
    }

}
@media only screen and (min-width: 768px){
    /* For desktop: */
body{
    

    background: size 75px;;
    

}
.backgroundblock{
    display: flex;
    margin-left: 0px;
    justify-content: center;
    align-items: center;

}
.left {
    float:left;
    background-color: rgb(66, 61, 223) ;
    width: 310px;
    height: 470px;
    border-radius: 6px;
    border: solid 2px;
    
    
    

}
.right {
    float: right;
    background-color:rgb(230, 87, 87);
    height: 470px;
    width: 400px;
    border-radius: 3px;
    border: solid 2px;
   
}
span{
    margin-left: 20px;
    text-align: left;
    font-size: large;
}
.s1{

}
.s2{

}
h2{
    text-align: center;
}
.mypic {
    margin-left: 25px;
    margin-top: 30px;
   
    
}
.iconcontroller{
    position: relative;
    top: 350px;
    left: 130px;
}
.rpacman{
    position: relative;
    top: -65px;
    left: 280px;
    z-index: -1;
}
.opacman{
    position: relative;
    top: 250px;
    left: 1150px;
    z-index: -1;
}
.vdo{
    margin-left: 75px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
}
.bar {
    color: azure;
    list-style: none;
    display: inline-block;
    transition: all 0.3 ease 0s;
    

}
.bar:hover {
    color: rgb(111, 111, 224);
}
.content {

    margin-top: 75px;
    margin-right: 50px;
}
.topbar {
    margin: 0;
    padding: 0;
}
}

